extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        
        h1 Ebonie Cobb

        
        p Full Stack JavaScript Developer


        .about-bio


          p I am a new software developer with a growing passion for front-end development, currently focusing on JavaScript. I'm building a strong foundation in creating interactive and dynamic user experiences. As I'm learning, I'm working on projects that showcase my ability to solve problems and implement clean, responsive designs. I am eager to continue developing my skills and apply what I am learning to real-world challenges. I look forward to contributing to a team where I can grow and refine my expertise while delivering impactful solutions.


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li 630-555-1234
          li ebonie@email.com

        a.btn-link(href='') LinkedIn
        a.btn-link(href='') GitHub
        a.btn-link(href='') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back